<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=description content="Profile report generated with the `pandas-time-profiling` Python package">
    <meta name=author content="Daniel Wlazlo and AXA community.">
    <meta name=generator content="Pandas Time Profiling v. {{VERSION}}">
    <meta name=url content=https://github.axa.com/daniel-wlazlo-external/pandas-time-profiling>
    <meta name=date content={{DATE}}>
    <title>{{TITLE}}</title>
    <style>
    {% include 'css/bootstrap-theme.min.css' %}
    {% include 'css/bootstrap.min.css' %}
    {% include 'css/style.css' %}
    </style>
</head>    
<body>
    <a class=anchor-pos id=top></a>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class=container-fluid>
            <div class=navbar-header>
                <button type=button class="navbar-toggle collapsed" data-toggle=collapse data-target=#navbar aria-expanded=false aria-controls=navbar>
                <span class=sr-only>Toggle navigation</span><span class=icon-bar></span><span class=icon-bar></span><span class=icon-bar></span>
                </button>
                <a class="navbar-brand anchor" href=#top>{{title}}</a>
            </div>
            <div id=navbar class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class=anchor href=#overview>Overview</a></li>
                    <li><a class=anchor href=#variables>Variables</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class=content>
        <div class=container>
            <div class="row header">
                <a class=anchor-pos id=overview></a>
                <h1 class=page-header>Overview</h1>
            </div>
            <div class=section-items>
                <div class="row spacing">
                    <ul class="nav nav-pills" role=tablist>
                        <li role=presentation class=active>
                            <a href=#overview-dataset_overview aria-controls=overview-dataset_overview role=tab data-toggle=tab>Overview</a>
                        </li>
                        <li role=presentation><a href=#overview-reproduction aria-controls=overview-reproduction role=tab data-toggle=tab>Reproduction</a>
                        </li>
                    </ul>
                    <div class=tab-content style="padding-top: 10px;">
                        <div role=tabpanel class="tab-pane col-sm-12 active" id=overview-dataset_overview>
                            <div class=col-sm-6>
                                <p class=h4>Dataset statistics</p>
                                <table class="table table-condensed stats">
                                    <tbody>
                                        <tr><th>Number of variables</th><td>{{N_VARIABLES}}</td></tr>
                                        <tr><th>Number of observations</th><td>{{N_OBSERVATIONS}}</td></tr>
                                        <tr><th>Time variable</th><td>{{TIME_VARIABLE}}</td></tr>
                                        <tr><th>Time unit</th><td>{{TIME_UNIT_LONG}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=col-sm-6>
                                <p class=h4>Variable types</p>
                                <table class="table table-condensed stats">
                                    <tbody>
{% for key, value in VARIABLE_TYPES.items() %}                                            <tr><th>{{key}}</th><td>{{value}}</td></tr>
{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role=tabpanel class="tab-pane col-sm-12" id=overview-reproduction><div class=col-sm-12><p class=h4>Reproduction</p>
                            <table class="table table-condensed stats">
                                <tbody>
                                    <tr><th>Analysis started</th><td>{{ANALYSIS_START}}</td></tr>
                                    <tr><th>Analysis finished</th><td>{{ANALYSIS_FINISH}}</td></tr>
                                    <tr><th>Software version</th><td><a href=https://github.axa.com/daniel-wlazlo-external/pandas-time-profiling>pandas-time-profiling</a> v{{VERSION}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header">
            <a class=anchor-pos id=variables></a><h1 class=page-header>Variables</h1>
        </div>
{% for var_report in VARIABLE_REPORTS %}        {{var_report}}
{% endfor %}    
    </div>
    <footer>
        <div class=container-fluid>
            <div class="row center-block footer-text">
                <p class="text-muted text-center">Report generated with <a href=https://github.axa.com/daniel-wlazlo-external/pandas-time-profiling>pandas-time-profiling</a> based on <a href=https://github.com/pandas-profiling/pandas-profiling>pandas-profiling</a>.</p>
            </div>
        </div>
    </footer>
    <script>
    {% include 'js/jquery-1.12.4.min.js' %}
    {% include 'js/bootstrap.min.js' %}
    {% include 'js/script.js' %}
    </script>
    </body>
    </html>