        <!-- Variable: {{VARIABLE_NAME}}  -->
        <div class=section-items>
            <div class="row spacing">
                <a class="anchor-pos anchor-pos-variable" id=pp_var_{{VARIABLE_ID}}></a>
                <div class="variable ignore">
                    <div class=col-sm-3>
                        <p class=h4 title=protocol_claim_date>
                            <a href=#pp_var_{{VARIABLE_ID}}>{{VARIABLE_NAME}}</a><br>
                        </p>
                        <code>REJECTED</code><br>
                        <code>{{TYPE}}</code><br>
                        <p class=variable-description></p>
                    </div>
                </div>
            </div>
        </div>
